<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
    <style>
      {{{css}}}
    </style>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  </head>
  <body>
    {{#resume}}
    <div class="container">
      <h1 class="title">{{basics.name}}</h1>
      <p class="subtitle is-6">
        {{#if basics.phone}}
        <span class="icon"><i class="fas fa-phone"></i></span>
        <a href='tel:{{basics.phone}}'>{{basics.phone}}</a>
        {{/if}}

        {{#if basics.email}}
        <span class="icon"><i class="fas fa-envelope"></i></span>
        <a href='mailto:{{basics.email}}'>{{basics.email}}</a>
        {{/if}}

        {{#if basics.location}}
        <span class="icon"><i class="fas fa-home"></i></span>
        {{#basics.location}}
        {{#if city}}{{city}}{{/if}}{{#if region}}, {{region}}{{/if}}{{#if countryCode}}, {{countryCode}}{{/if}}
        {{/basics.location}}
        {{/if}}
      </p>

      <div class="columns">
        <div class="column is-two-thirds">

          {{#if work.length}}
          <div class='section-header'>Employment</div>
          {{#each work}}
          <div class="article" style="padding-top: 0.5em">
            <div class="columns">
              <div class="column is-half">
                {{#if company}}
                <a href='{{#if website}}{{website}}{{/if}}' style="color: black">
                {{company}}
                </a> {{/if}}
                {{#if position}} 
                <p>{{position}}</p>
                {{/if}}
              </div>
              <div class="column is-half" style="text-align: right">
                {{#if startDate}} {{prettifyDate startDate}} {{/if}} {{#if endDate}} - {{prettifyDate endDate}} {{else}} - Present {{/if}}
                {{#if location}} 
                <p>{{location}}</p>
                {{/if}}
              </div>
            </div>
            {{#if highlights.length}}
            <ul class="list">
              {{#each highlights}}
              <li>{{.}}</li>
              {{/each}}
            </ul>
            {{/if}}
          </div>
          {{/each}}
          {{/if}}

          {{#if volunteer.length}}
          <div class='section-header'>Projects</div>
          {{#each volunteer}}
          <div class="article" style="padding-top: 0.5em">
            <div class="columns">
              <div class="column is-half">
                {{#if organization}}
                <a href='{{#if website}}{{website}}{{/if}}' style="color: black">
                {{organization}}
                </a> {{/if}}
                {{#if position}} 
                <p>{{position}}</p>
                {{/if}}
              </div>
              <div class="column is-half" style="text-align: right">
                {{#if startDate}} {{prettifyDate startDate}} {{/if}} {{#if endDate}} - {{prettifyDate endDate}} {{else}} - Present {{/if}}
              </div>
            </div>
            {{#if highlights.length}}
            <ul class="list">
              {{#each highlights}}
              <li>{{.}}</li>
              {{/each}}
            </ul>
            {{/if}}
          </div>
          {{/each}}
          {{/if}}

        </div>

        <div class="column">

          {{#if education.length}}
          <div class='section-header'>Education</div>
          {{#each education}}
          <div class="article" style="padding-top: 0.5em">
            {{#if institution}}
            <p style="color: black">{{institution}}</p>
            {{/if}}
            <p>{{#if studyType}} {{studyType}} in {{/if}} {{#if area}} {{area}} {{/if}}</p>
            <p style="text-align: right">{{#if startDate}} {{prettifyDate startDate}} {{/if}} {{#if endDate}} - {{prettifyDate endDate}} {{else}} - Present {{/if}}</p>
          </div>
          {{/each}}
          {{/if}}

          {{#if publications.length}}
          <div class='section-header'>Publications</div>
          {{#each publications}}
          {{#if name}}
          <div style="color: black">{{name}}</div>
          {{/if}}
          <div class="columns">
            <div class="column">
              {{#if publisher}}
              <em>{{publisher}}</em>
              {{/if}}
            </div>
            <div class="column">
              {{#if releaseDate}}
              <p style="text-align: right">
                {{prettifyDate releaseDate}}
              </p>
              {{/if}}
            </div>
          </div>
          {{/each}}
          {{/if}}

          {{#if skills.length}}
          <div class='section-header'>Technical Skills</div>
          {{#each skills}}
          {{#if name}}
          <span style="color: black">{{name}}</span>
          {{/if}} {{#if level}}
            <em>({{level}})</em>
          {{/if}} {{#if keywords.length}}
          <p>
            {{#each keywords}} {{.}}{{#unless @last}},{{/unless}} {{/each}}
          </p>
          {{/if}}
          {{/each}}
          {{/if}}

          {{#if awards.length}}
          <div class='section-header'>Awards</div>
          {{#each awards}}
          {{#if title}}
          <div style="color: black">{{title}}</div>
          {{/if}}
          <div class="columns">
            <div class="column">
              {{#if awarder}}
              <em>{{awarder}}</em>
              {{/if}}
            </div>
            <div class="column">
              {{#if date}}
              <p style="text-align: right">
                {{prettifyDate date}}
              </p>
              {{/if}}
            </div>
          </div>
          {{/each}}
          {{/if}}

        </div> <!-- /column -->
      </div> <!-- /columns -->
    </div> <!-- /container -->
    {{/resume}}
  </body>
</html>
