@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css');

.section-header {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1.4em;
  color: #BC1B39;
  text-transform: uppercase;
  margin-top: 1em;
}

ul.list {
  list-style-type: circle;
  padding-left: 1.1rem;
}

ul.list li {
  line-height: 135%;
  margin-bottom: .2em;
}

ul.list li:before {
  display: inline-block;
  width: 0;
  margin-left: 0;
}

ul.list li:first-of-type {
  margin-top: -1em;
}
